.button {
color: rgba(250, 244, 234, 1);
background-color: rgba(129, 155, 87, 1);
border: 2px solid rgba(129, 155, 87, 1);
border-radius: 8px;
cursor: pointer;
}
.button:hover {
    color: rgba(49, 38, 26, 1);
    background-color: transparent;
}

    
